@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";
@tailwind utilities;
@import "tailwindcss-animated";

@theme {
  --font-Inter: Inter, "sans-serif";
}

@keyframes scrollright {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes scrollleft {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}

.block {
  animation-timeline: view();
  animation-range: entry 0;
}

@keyframes progress {
  from {
    width: 0%;
  }
  to {
    width: var(--target-width); /* or a fixed percent like 95% */
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.animation-progress {
  animation: progress 1s ease-out forwards;
  animation-delay: var(--delay);
}

.animation-fade-in {
  animation: fadeIn 0.5s ease-out forwards;
  opacity: 0;
}
